<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDxb9XxcIIc-U9aQcDEZ9iB6trEjaFEWD8</string>
	<key>GCM_SENDER_ID</key>
	<string>580882988255</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shopin.ezye</string>
	<key>PROJECT_ID</key>
	<string>ezys-bf376</string>
	<key>STORAGE_BUCKET</key>
	<string>ezys-bf376.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:580882988255:ios:50fce722a3ee270c7d7d6a</string>
</dict>
</plist>